*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color : #000;
    background: #fff;
}

body, button, input, textarea{
    font : 600 18px Nunito, sans-serif;
}
a{ text-decoration: none; }
.home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 3%;
    width: 94%;
}
.mostracampanha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Campanha */
.campanhas{
    display: block;
    padding : 1%;
    max-width: 29%;
    min-width: 29%;
    margin : 2%;
    border-radius: 6%;
    box-shadow: 0px 2px 2px 5px #ebebeb;
    background-color: #fff;
    text-align: center;
}

.emptyState {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 700;
}

.campanhas h3{
    font-weight: 700;
    font-size: 1.3em;
    margin: 1.5% 2%;
    margin-top: 0;
    color: #444;
}
.campanhas img{
    width : 80%;
    max-width: 500px;
    height: 60%;
    margin: 1% 0%;
}

.campanhas progress {
    width : 90%;
    height: 30px;
    color : #2c88d9;
}
.campanhas .link {
    display: inline-block;
    width  : 100%;
}
.link .participar{
    position: relative;
    float: left;
    padding: 2.5% 3%;
    margin-bottom: 1%;
    margin-left: 5%;
    background: #1aae9f;
    color : #fff;
    border-radius: 5px;
}
.link .participar:hover{
    background-color: #137c72;
}
.link .preco{
    position: relative;
    float: right;
    padding: 3% 3%;
    margin-bottom: 1%;
    margin-right :5%;
    background: #6558f5;
    color : #fff;
    border-radius: 5px;
}
.link .preco:hover{
    background-color: #3c2bf3;
}
.link a.fim{
    background: #c62f45 !important;
}
.campanhas:last-child .link{
    margin-bottom: 4%;
}
.home .pagination{
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin: 3% 0;
}
.home .pagination button{
    padding: 0.5% .8%;
    margin : 0 1%;
    align-self: center;
    border : none;
    border-radius: 8px;
    background-color: #ccc;
    color: #444;
    text-align: center;
    cursor: pointer;
}
.home .pagination button:hover{
    background-color: #999;
}
.home .pagination .marca {
    background-color: #888;
}
@media screen and (max-width : 700px){
    body{
        margin: 0 0%;
    }
    .home{
        flex-direction: column;
        margin: 1%;
        width: auto;
    }
    .campanhas{
        margin: 3% 0;
        min-width: 100%;

    }
    .home .pagination button{
        padding: 8px 10px;
        margin : 1% 2%;
    }
}